/* Change this to change the appearance of the hexaons */
$hex-width: 120px;
$hex-between: 5px;
$hex-icon: 50px;

@media only screen and (max-width: 960px) {
  $hex-width: 70px;
  $hex-between: 5px;
  $hex-icon: 15px;
}

/* Other hexagon dimentions */
$hex-height: calc(#{$hex-width / 1.73} /* sqrt(3) */);
$hex-margin: calc(#{$hex-width / 2});
$hex-border: calc(#{$hex-margin / 1.73} /* sqrt(3) */);
$hex-transition: all 0.2s ease;

/* Colors */
$color-hex-default: #000000;
$color-home: #a30b0b;
$color-about: #284eb6;
$color-projects: #279141;
$color-contact: #467ffa;
$color-imprint: #0e78a1;
$color-darkmode-light: #c8cedf;
$color-darkmode-dark: #27282c9c;
$color-github: #24292e;
$color-gitlab: #6610f2;
$color-linkedin: #0077b5;
$color-xing: #007575;
$color-twitter: #1da1f2;

/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns: $hex-width $hex-width $hex-width $hex-width;
  grid-auto-rows: calc(#{$hex-width - 28.87px / 2});
  grid-gap: $hex-between $hex-between;
  padding-bottom: $hex-border;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
.hexagon-container.split {
  @media only screen and (min-width: 961px) {
    grid-template-columns: $hex-width $hex-width;
  }
  @media only screen and (max-width: 960px) {
    $hex-width: 20%;
    grid-template-columns: $hex-width $hex-width $hex-width $hex-width $hex-width;
    grid-gap: 0;
    position: fixed;
    .hexagon::after,
    .hexagon::before,
    .hexagon:nth-child(n + 6) {
      display: none;
    }
    .hexagon {
      margin: 0;
      width: 100%;
    }
    padding: 0;
  }
}
.hexagon {
  align-items: center;
  background-color: $color-hex-default;
  cursor: pointer;
  display: flex;
  fill: white;
  height: $hex-height;
  justify-content: center;
  margin: $hex-border 0;
  position: relative;
  transition: $hex-transition;
  width: $hex-width;
  opacity: 0.8;
  @media only screen and (max-width: 960px) {
    font-size: 12px;
  }
  .showText {
    display: none;
  }
}
.hexagon::after,
.hexagon::before {
  border-left: $hex-margin solid transparent;
  border-right: $hex-margin solid transparent;
  content: '';
  left: 0;
  position: absolute;
  transition: $hex-transition;
  width: 0;
}
.hexagon::after {
  border-top: $hex-border solid $color-hex-default;
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: $hex-border solid $color-hex-default;
  bottom: 100%;
}
@media only screen and (min-width: 961px) {
  .hexagon:hover {
    opacity: 1;
  }

  .hexagon:hover {
    .showIcon {
      display: none;
    }
    .showText {
      display: block;
      text-decoration: none;
      color: #ffff;
    }
  }

  .hexagon-container.split {
    .hexagon:nth-child(8n + 3),
    .hexagon:nth-child(8n + 4),
    .hexagon:nth-child(8n + 7),
    .hexagon:nth-child(8n + 8) {
      margin-left: calc(#{$hex-width} / 2 + #{$hex-between} / 2);
    }
  }
}
.hexagon-container:not(.split) {
  .hexagon:nth-child(8n + 5),
  .hexagon:nth-child(8n + 6),
  .hexagon:nth-child(8n + 7),
  .hexagon:nth-child(8n + 8) {
    margin-left: calc(#{$hex-width} / 2 + #{$hex-between} / 2);
  }
}
.hexagon > svg {
  height: 75%;
  transition: $hex-transition;
}

.color-home {
  background-color: $color-home;
}
.color-home::after,
.color-home::before {
  border-top-color: $color-home;
  border-bottom-color: $color-home;
}

.color-about {
  background-color: $color-about;
}
.color-about::after,
.color-about::before {
  border-top-color: $color-about;
  border-bottom-color: $color-about;
}

.color-projects {
  background-color: $color-projects;
}
.color-projects::after,
.color-projects::before {
  border-top-color: $color-projects;
  border-bottom-color: $color-projects;
}

.color-contact {
  background-color: $color-contact;
}
.color-contact::after,
.color-contact::before {
  border-top-color: $color-contact;
  border-bottom-color: $color-contact;
}

.color-imprint {
  background-color: $color-imprint;
}
.color-imprint::after,
.color-imprint::before {
  border-top-color: $color-imprint;
  border-bottom-color: $color-imprint;
}

.color-darkmode-light {
  background-color: $color-darkmode-light;
}
.color-darkmode-light::after,
.color-darkmode-light::before {
  border-top-color: $color-darkmode-light;
  border-bottom-color: $color-darkmode-light;
}

.color-darkmode-dark {
  background-color: $color-darkmode-dark;
}
.color-darkmode-dark::after,
.color-darkmode-dark::before {
  border-top-color: $color-darkmode-dark;
  border-bottom-color: $color-darkmode-dark;
}

.color-github {
  background-color: $color-github;
}
.color-github::after,
.color-github::before {
  border-top-color: $color-github;
  border-bottom-color: $color-github;
}

.color-gitlab {
  background-color: $color-gitlab;
}
.color-gitlab::after,
.color-gitlab::before {
  border-top-color: $color-gitlab;
  border-bottom-color: $color-gitlab;
}

.color-linkedin {
  background-color: $color-linkedin;
}
.color-linkedin::after,
.color-linkedin::before {
  border-top-color: $color-linkedin;
  border-bottom-color: $color-linkedin;
}

.color-xing {
  background-color: $color-xing;
}
.color-xing::after,
.color-xing::before {
  border-top-color: $color-xing;
  border-bottom-color: $color-xing;
}

.color-twitter {
  background-color: $color-twitter;
}
.color-twitter::after,
.color-twitter::before {
  border-top-color: $color-twitter;
  border-bottom-color: $color-twitter;
}
