@import '~vuetify/src/styles/styles.sass';
.v-application {
  body,
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 .overline {
    font-weight: 600;
  }
}
.fab-container {
  margin-left: 15px;
}
.mobile-none {
  @media only screen and (max-width: $md-max-width) {
    display: none;
  }
}
.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sticky-container {
  align-items: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.footer {
  color: #b6b6b6;
  margin: auto;
}
a {
  text-decoration: none;
}
