// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$xs-max-width: 600px;
$sm-min-width: 601px;
$sm-max-width: 960px;
$md-min-width: 961px;
$md-max-width: 1264px;
$lg-min-width: 1265px;
$lg-max-width: 1904px;
$xl-min-width: 1905px;

$color-hex-default: #000000;
$color-home: #a30b0b;
$color-about: #284eb6;
$color-projects: #279141;
$color-contact: #467ffa;
$color-imprint: #0e78a1;
$color-darkmode-light: #c8cedf;
$color-darkmode-dark: #27282c9c;
$color-github: #24292e;
$color-gitlab: #6610f2;
$color-linkedin: #0077b5;
$color-xing: #007575;
$color-twitter: #1da1f2;
